<div mat-dialog-content>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h4>Login to your account!</h4></mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/bannerlogin.jpg" alt="Login Banner">
    <mat-card-content>
      <div class="form-container">
        <form [formGroup]="loginForm" (ngSubmit)="loginFirebase()">
          <mat-form-field>
            <input matInput placeholder="Login Email" formControlName="email">
            <mat-error *ngIf="email?.errors?.['required']">Inform your email</mat-error>
            <mat-error *ngIf="email?.errors?.['email']">Email format not valid</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Type your password" formControlName="password" type="password">
            <mat-error *ngIf="password?.errors?.['required']">Inform your password</mat-error>
          </mat-form-field>
          <mat-card-footer>
            <div class="center">
              <button mat-raised-button color="primary" type="submit"id="loginButton">Login</button>
              <button mat-raised-button mat-dialog-close color="accent">Close</button>
            </div>
          </mat-card-footer>
          <div class="center">
            <p>If you haven't joined yet, <a routerLink="signup">click here</a></p>
          </div>
        </form>

      </div>

    </mat-card-content>

  </mat-card>
</div>
