<div *ngFor="let details of details">
      <h1 mat-dialog-title>{{details.title}} Info</h1>
      <div mat-dialog-content >

        <mat-tab-group>
          <mat-tab label="General">
            <img mat-card-image src="{{details.thumbnail.path +'/standard_fantastic.'+details.thumbnail.extension}}" alt="Some Issue Loading Image..." />
            <p >{{details.description}}</p>
            <p>Previous: {{details.previous.name}}</p>
            <p>Next: {{details.next.name}}</p>
          </mat-tab>

          <mat-tab label="Characters">
            <h4>Characters in this event</h4>
            <mat-grid-list cols="3" rowHeight="300px">
              <mat-grid-tile *ngFor="let characters of characters">
                <mat-card class="example-card">
                  <mat-card-header>
                    <mat-card-title>{{ characters.name }}</mat-card-title>
                  </mat-card-header>
                  <img mat-card-image src="{{characters.thumbnail.path +'/standard_xlarge.'+characters.thumbnail.extension}}" alt="Some Issue Loading Image..." />
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
          <mat-divider></mat-divider>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
      </div>
</div>



