<div *ngFor="let details of details">
  <div class="title">
    <h1 mat-dialog-title>{{details.name}}'s Profile</h1>
  </div>
  <div mat-dialog-content >
    <mat-tab-group>
      <mat-tab label="General Info">
        <div class="profileTab" >
          <img mat-card-image src="{{details.thumbnail.path +'/portrait_uncanny.'+details.thumbnail.extension}}" alt="Some Issue Loading Image..." />
          <p >{{details.description}}</p>
        </div>
      </mat-tab>

      <mat-tab label="Comics">
          <div *ngIf="comics.length>0; else nocomics">
            <mat-grid-list [cols]="breakpoint" rowHeight="400px" (window:resize)="handleSize($event)">
              <mat-grid-tile *ngFor="let comics of comics">
                <mat-card class="comicsCard">
                  <mat-card-header>
                    <mat-card-title>{{ comics.title }}</mat-card-title>
                  </mat-card-header>
                  <img mat-card-image src="{{comics.thumbnail.path +'/standard_xlarge.'+comics.thumbnail.extension}}" alt="Some Issue Loading Image..." />
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
            <mat-divider></mat-divider>
          </div>
          <ng-template #nocomics>
            <p>Sorry, no Comics available for this character</p>
          </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
  <mat-divider></mat-divider>
  <div class="dialogFooter" mat-dialog-actions>
    <button mat-button mat-dialog-close>
      <img src="../../../assets/img/icons8-x-men.svg" alt="">
    </button>
  </div>
</div>


