<div class="bannermain"></div>
<mat-card class="card">
  <mat-card-title>Welcome to Marvel Database!</mat-card-title>
  <mat-card-subtitle>Powered by MARVEL API</mat-card-subtitle>
  <mat-card-content>
    <p>This aplication retrieves the data about <strong>Characters</strong> and <strong>Events</strong> in Marvel's API. To access these functions, you must login by clicking the button in the navigation bar</p>
    <p>If you haven't signed up yet, <a routerLink="core/signup">click here</a></p>
  </mat-card-content>
</mat-card>
