.searchField{
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  text-align: center;
}

mat-label{
  font-family: 'Marvel', sans-serif;
}

mat-card{
  background-color: #212121;
  border-radius: 12px 12px 30px 5px;;
  color: #F5F5F5;
  max-width: 200px;
  text-align: center;
  justify-content: center;
  font-family: 'Marvel', sans-serif;
}

mat-card img{
  max-width: 250px;
  max-height: 250px;
}

mat-card:hover{
  background-color: #BF360C;
}

mat-card-header{
  justify-content: center;
}


